:root{
    --bg:#f7f8fc;
    --text:#1f2937;
    --brand:#143d6d;
    --brand-2:#0e6ba8;
    --card:#ffffff;
    --shadow:0 8px 24px rgba(0,0,0,0.08);
}
*{
   box-sizing: border-box;
  
}
html,body{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,"Noto Naskh Arabic",Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
}
.container{
    width: min(1200px,92%);
    margin-inline: auto;
}
.site-header{
    background:linear-gradient(90deg,var(--brand),var(--brand-2));
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: var(--shadow);
}
.nav-row{
display: flex;
justify-content: space-between;
align-items: center;
padding: 14px 0;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.brand .logo{
    height: 40px;
    width:auto ;
    background-color: #fff;
    border-radius: 50%;
}
.nav{
    display: flex;
    align-items: center;
    gap: 18px;
}
.nav a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    opacity: 0.9;
}
.nav a:hover, .nav a.active{
    opacity: 1;
    text-decoration: underline;
}
.lang-switch{
    display: flex;
    gap: 10px;
    margin-inline-start: 12px;
    padding-inline-start: 12px;
   border-inline-start: 1px solid rgb(255, 255,255,.35);
}
.burger{
    display: none;
    flex-direction: column;
    gap: 4px;
    background-color: transparent;
    border: 0;
}
.burger span{
    display: block;
    height: 2px;
    width: 24px;
    background-color: #fff;
}
footer{
    background:linear-gradient(90deg,var(--brand),var(--brand-2));
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.footer-counainer{
    
    width: min(1200px,92%);
    margin-inline: auto;
}
.social-link{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    
}
.social-link a{
    text-decoration: none;
    color: rgb(250, 215, 62);
    font-weight: 600;
}
.svg{
    margin-right: .8rem;
    color: #1f2937;
}
.hero{
    position: relative;
    color: white;
    text-align: center;
}
.hero_img{
    width: 100%;
    height: 70vh;
    filter: brightness(60%);
    border-radius: 0 0 1rem 1rem;

}
.hero_text{
    position: absolute;
    top: 30%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero_text h1{
    font-weight: 900;
    font-size: 44px;
    color: white;
}
.hero_text p{
    font-size: 22px;
}
.hero_text a{
    margin-top: 5rem;
    padding: 8px;
    border: solid yellow;
    background-color: yellow;
    text-decoration: none;
    border-radius: 5px;
    color:rgb(0, 0, 0);
    font-weight: 500;
}